html{
	min-height: 100%;
}

body{
  background-image:url('images/RidBoRyi9.png'),url('images/RidBoRyi9.png'),linear-gradient(to bottom, rgba(102,182,252,1) 0%, rgba(178,225,255,1) 75%, rgba(241,231,103,1) 80%, rgba(254,182,69,1) 100%);
  background-size:20%, 20%, 100%;
  background-position:20% 90%, 80% 90%;
  background-repeat:no-repeat, no-repeat, repeat;
  font: bold 19pt 'Neucha', cursive;
  color:#FFFFFF;
}

.head{
  clear: both;
  display: flex;
/*  display: -webkit-flex;*/
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  margin: 3%;
}

.logo{
	font: 45pt 'Neucha', cursive;
    font-weight: bold; 
}

.button{
	width:150px;
	height:50px;
 	border:3px dotted; 
 	border-radius: 50px; 
    font: 19pt 'Neucha', cursive;
    font-weight: bold; 
 	color:#ffffff; 
 	background-image: -moz-linear-gradient(top, #8fb59b 0%, #3c7a12 100%);
/* 	background-image: -webkit-linear-gradient(top, #8fb59b 0%, #3c7a12 100%);*/
/* 	background-image: linear-gradient(top, #8fb59b 0%, #3c7a12 100%);*/
 	box-shadow:-6px 5px 8px #4c524b;
}

.section_four{
	width:150px;
	height: 50px;
 	border:3px dotted; 
 	border-radius: 50px;
 	text-align:center;
    font-weight: bold; 
 	color:#ffffff; 
 	background-image: -moz-linear-gradient(top, #8fb59b 0%, #3c7a12 100%);
/* 	background-image: -webkit-linear-gradient(top, #8fb59b 0%, #3c7a12 100%);*/
/* 	background-image: linear-gradient(top, #8fb59b 0%, #3c7a12 100%);*/
 	box-shadow:6px 5px 8px #4c524b;
}

.menus,
.plus{
	border:3px solid; 
 	border-radius: 30px;
 	font: 19pt 'Neucha', cursive;
    font-weight: bold; 
 	color:#ffffff; 
 	background-image: -moz-linear-gradient(top, #8fb59b 0%, #3c7a12 100%);
/* 	background-image: -webkit-linear-gradient(top, #8fb59b 0%, #3c7a12 100%);*/
/* 	background-image: linear-gradient(top, #8fb59b 0%, #3c7a12 100%);*/
 	box-shadow:-4px -3px 5px #4c524b;
}

.row{
  clear: both;
  display: flex;
/*  display: -webkit-flex;*/
  flex-flow: row nowrap;
/*  -webkit-flex-flow: row nowrap;*/
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.row div{
  float:left;
  min-width:30px;
  min-height:30px;
  width:30px;
  height:30px;
  margin:1px;
  border:1px solid #3c7a12;
  border-radius:10px;
  /*background:#fff;*/
  transition: background-color .2s;
}

.flex_box{
  clear: both;
  display: flex;
/*  display: -webkit-flex;*/
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}

.snake{
	background: radial-gradient(ellipse at center, #a4b357 0%,#75890c 100%);
/*	background: -webkit-radial-gradient(center, ellipse cover, #a4b357 0%,#75890c 100%);*/
}

.food{
    background: red;
/*	background: url('images/rabbit.png');*/
	background-position: center;
}
.empty{
	background: transparent;
}

footer{
	position:absolute;
	bottom:10px;
	right:10px;
	text-align:right;
	font-size:11pt;
}
